* {
    box-sizing: border-box;
}
.drap-adorption_drag-item {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}
.drap-adorption_drag-item.moving, .drap-adorption_drag-item.reseting {
    transition: initial;
}